<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>学生列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
	<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
	<script type="text/javascript" th:inline="javascript">

		$(function() {
			//datagrid初始化
			$('#dataList').datagrid({
				title:'学生列表',
				iconCls:'icon-more',//图标
				border: true,
				collapsible:false,//是否可折叠的
				fit: true,//自动大小
				method: "post",
				url:[[@{/student/getStudentList}]],
				singleSelect:false,//是否单选
				pagination:true,//分页控件
				rownumbers:true,//行号
				sortOrder:'DESC',
				remoteSort: false,
				columns: [
						[
					{field:'chk',checkbox: true,width:50},
					{field:'sn',title:'学号',width:200, sortable: true},
					{field:'username',title:'姓名',width:200},
					{field:'clazz',title:'班级',width:150},
					{field:'sex',title:'性别',width:75},
					{field:'age',title:'年龄',width:75},
					{field:'email',title:'邮箱',width:150},
					{field:'mobile',title:'电话',width:150},
				 ]
			    ],
				toolbar: "#toolbar",
			});
			//设置分页控件
			var p = $('#dataList').datagrid('getPager');
			$(p).pagination({
				pageSize: 10,//每页显示的记录条数，默认为10
				pageList: [10,20,30,50,100],//可以设置每页记录条数的列表
				beforePageText: '第',//页数文本框前显示的汉字
				afterPageText: '页    共 {pages} 页',
				displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
			});
			//设置工具类按钮
			$("#add").click(function(){
				$("#addDialog").dialog("open");
			});
			//修改
			$("#edit").click(function(){
				var selectRows = $("#dataList").datagrid("getSelections");
				if(selectRows.length !== 1){
					$.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
				} else{
					$("#editDialog").dialog("open");
				}
			});
			//删除
			$("#delete").click(function(){
				var selectRows = $("#dataList").datagrid("getSelections");
				var selectLength = selectRows.length;
				if(selectLength === 0){
					$.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
				} else{
					var jsonObj = {};
					$.each(selectRows,function(i,n){
						jsonObj["sn["+i+"]"] = n.sn;
					});
					$.messager.confirm("消息提醒", "将删除与学生相关的所有数据(包括成绩)，确认继续？", function(r){
						if(r){
							$.ajax({
								type: "post",
								url: [[@{/student/deleteStudent}]],
								data:jsonObj,
								success: function(data){
									if(data.success){
										$.messager.alert("消息提醒",data.message,"info");
										//刷新表格
										$("#dataList").datagrid("reload");
										$("#dataList").datagrid("uncheckAll");
									} else{
										$.messager.alert("消息提醒",data.message,"warning");
										return;
									}
								}
							});
						}
					});
				}
			});

			//导入
			$("#import").click(function(){
				$("#importDialog").dialog("open");
			});

			//设置添加学生窗口
			$("#addDialog").dialog({
				title: "添加学生",
				width: 440,
				height: 490,
				iconCls: "icon-add",
				modal: true,
				collapsible: false,
				minimizable: false,
				maximizable: false,
				draggable: true,
				closed: true,
				buttons: [
					{
						text:'添加',
						plain: true,
						iconCls:'icon-user_add',
						handler:function(){
							var validate = $("#addForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								var formData = new FormData($( "#addForm" )[0]);
								$.ajax({
									type: "post",
									url: [[@{/student/addStudent}]],
									data: formData,
									async: false,
									cache: false,
									contentType: false,
									processData: false,
									success: function(data){
										if(data.success){
											$.messager.alert("消息提醒",data.message,"info");
											//关闭窗口
											$("#addDialog").dialog("close");
											//清空原表格数据

											$("#add_sn").textbox('setValue', "");
											$("#add_name").textbox('setValue', "");
											$("#add_password").textbox('setValue',"");
											$('#add_clazz').textbox('setValue',"");
											$("#add_sex").textbox('setValue', "男");
											$("#add_age").textbox('setValue',"");
											$("#add_email").textbox('setValue', "");
											$("#add_phone").textbox('setValue', "");

											//重新刷新页面数据
											$('#dataList').datagrid("options").queryParams = {clazzid: clazzid};
											$('#dataList').datagrid("reload");

										} else{
											$.messager.alert("消息提醒",data.message,"warning");
											return;
										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							$("#add_sn").textbox('setValue', "");
							$("#add_name").textbox('setValue', "");
							$("#add_password").textbox('setValue',"");
							$('#add_clazz').textbox('setValue',"");
							$("#add_sex").textbox('setValue', "");
							$("#add_age").textbox('setValue',"");
							$("#add_email").textbox('setValue', "");
							$("#add_phone").textbox('setValue', "");
							//重新加载年级
							$("#add_gradeList").combobox("clear");
							$("#add_gradeList").combobox("reload");
						}
					},
				]
			});

			//设置编辑学生窗口
			$("#editDialog").dialog({
				title: "修改学生信息",
				width: 650,
				height: 460,
				iconCls: "icon-edit",
				modal: true,
				collapsible: false,
				minimizable: false,
				maximizable: false,
				draggable: true,
				closed: true,
				buttons: [
					{
						text:'提交',
						plain: true,
						iconCls:'icon-user_add',
						handler:function(){
							var validate = $("#editForm").form("validate");
							// var clazzid = $("#edit_clazzList").combobox("getValue");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");

							} else{
								var formData = new FormData($( "#editForm" )[0]);
								$.ajax({
									type: "post",
									url: [[@{/student/editStudent}]],
									data: formData,
									async: false,
									cache: false,
									contentType: false,
									processData: false,
									success: function(data){
										if(data.success){
											$.messager.alert("消息提醒",data.message,"info");
											//关闭窗口
											$("#editDialog").dialog("close");
											//刷新表格
											// $('#dataList').datagrid("options").queryParams = {clazzid: clazzid};
											$("#dataList").datagrid("reload");
											$("#dataList").datagrid("uncheckAll");

											// setTimeout(function(){
											// 	$("#clazzList").combobox('setValue', clazzid);
											// }, 100);

										} else{
											$.messager.alert("消息提醒",data.message,"warning");

										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							//清空表单
							$("#edit_name").textbox('setValue', "");
							$("#edit_clazz").textbox('setValue',"");
							$("#edit_sex").textbox('setValue', "");
							$("#edit_age").textbox('setValue',"");
							$("#edit_email").textbox('setValue',"");
							$("#edit_phone").textbox('setValue', "");
							$("#edit_gradeList").combobox("clear");
							$("#edit_gradeList").combobox("reload");
						}
					}
				],
				onBeforeOpen: function(){
					var selectRow = $("#dataList").datagrid("getSelected");
					$("#edit_name").textbox('setValue',selectRow.username);
					$("#edit_clazz").textbox('setValue',selectRow.clazz);
					$("#edit_sex").textbox('setValue',selectRow.sex);
					$("#edit_age").textbox('setValue',selectRow.age);
					$("#edit_email").textbox('setValue',selectRow.email);
					$("#edit_phone").textbox('setValue', selectRow.mobile);
					$("#edit-sn").val(selectRow.sn);
				}
			});

			//设置导入窗口
			$("#importDialog").dialog({
				title: "导入学生信息",
				width: 450,
				height: 150,
				iconCls: "icon-add",
				modal: true,
				collapsible: false,
				minimizable: false,
				maximizable: false,
				draggable: true,
				closed: true,
				buttons: [
					{
						text:'确认导入',
						plain: true,
						iconCls:'icon-book-add',
						handler:function(){
							var validate = $("#importForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请选择文件!","warning");
								return;
							} else{
								// $("#importForm").submit();
								$.messager.progress({text:'正在上传导入中...'});

								setTimeout(function () {
									importStudent();
								},5000);

								$("#importDialog").dialog("close");
							}
						}
					}
				]
			});

			//导出按钮监听事件
			$("#export").click(function(){
				url = [[@{/student/exportStudent}]];
				window.location.href = url;
			});

			//搜索按钮监听事件
			$("#search-btn").click(function(){
				$('#dataList').datagrid('load',{
					studentName: $('#search_student_name').val(),
				});
			});

			function importStudent() {
				var formData = new FormData($( "#importForm" )[0]);
				$.ajax({
					type: "post",
					url: [[@{/student/importStudent}]],
				    data: formData,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function(data){
					if(data.success){

						$.messager.progress('close');
						$.messager.alert("消息提醒",data.message,"info");

						//关闭窗口

						$('#dataList').datagrid("reload");
					} else{
						$.messager.alert("消息提醒",data.message,"warning");
					}
				}
			});
			}

		});
	</script>
</head>
<body>
<!-- 列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">
	<div style="float: left"><a id="import" style="background-color: #9494e3" href="javascript:" class="easyui-linkbutton" data-options="iconCls:'icon-large-smartart',plain:true">导入</a></div>
	<div style="float: left;" class="datagrid-btn-separator"></div>
	<div style="float: left"><a id="export" style="background-color: #9494e3" href="javascript:" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">导出</a></div>
	<div style="float: left;" class="datagrid-btn-separator"></div>
	<div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
	<div style="float: left;" class="datagrid-btn-separator"></div>
	<div style="float: left;"><a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></div>
	<div style="float: left;" class="datagrid-btn-separator"></div>
	<div style="float: left;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>
	<div style="float: left;margin-top:4px;" class="datagrid-btn-separator" >&nbsp;&nbsp;姓名：<input id="search_student_name" class="easyui-textbox" name="search_student_name" /></div>
	<div style="margin-left: 10px;margin-top:4px;" >班级：<input id="clazzList" class="easyui-textbox" name="clazz" />
		<a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a></div>

</div>

<!-- 添加学生窗口 -->
<div id="addDialog" style="padding: 10px">
	<form id="addForm" method="post">
		<table cellpadding="8" >
			<tr>
				<td>学号:</td>
				<td><input id="add_sn" style="width: 200px; height: 30px;" class="easyui-textbox" name="sn" data-options="required:true, missingMessage:'请填写学号'" /></td>
			</tr>
			<tr>
				<td>姓名:</td>
				<td><input id="add_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="username" data-options="required:true, missingMessage:'请填写姓名'" /></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td>
					<input id="add_password"  class="easyui-textbox" style="width: 200px; height: 30px;" type="password" name="password" data-options="required:true, missingMessage:'请输入登录密码'" />
				</td>
			</tr>
			<tr>
				<td>班级:</td>
				<td><input id="add_clazz" style="width: 200px; height: 30px;" class="easyui-textbox" name="clazz" data-options="required:true, missingMessage:'请输入登录班级'"/></td>
			</tr>
			<tr>
				<td>性别:</td>
				<td><select id="add_sex" class="easyui-combobox" data-options="editable: false, panelHeight: 50, width: 60, height: 30" name="sex"><option value="男">男</option><option value="女">女</option></select></td>
			</tr>
			<tr>
				<td>年龄:</td>
				<td><input id="add_age" style="width: 200px; height: 30px;" class="easyui-textbox" name="age" data-options="required:true, missingMessage:'请填写年龄'"></td>
			</tr>
			<tr>
				<td>邮箱:</td>
				<td><input id="add_email" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="email" validType="email" /></td>
			</tr>
			<tr>
				<td>电话:</td>
				<td><input id="add_phone" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="mobile" validType="mobile" /></td>
			</tr>
		</table>
	</form>
</div>

<!-- 修改学生窗口 -->
<div id="editDialog" style="padding: 10px">
	<form id="editForm" method="post">
		<input type="hidden" name="sn" id="edit-sn">
		<table cellpadding="8" >
			<tr>
				<td>姓名:</td>
				<td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="username" data-options="required:true, missingMessage:'请填写姓名'" /></td>
			</tr>
			<tr>
				<td>班级:</td>
				<td><input id="edit_clazz" style="width: 200px; height: 30px;" class="easyui-textbox" name="clazz" /></td>
			</tr>
			<tr>
				<td>性别:</td>
				<td><select id="edit_sex" class="easyui-combobox" data-options="editable: false, panelHeight: 50, width: 60, height: 30" name="sex"><option value="男">男</option><option value="女">女</option></select></td>
			</tr>
			<tr>
				<td>年龄:</td>
				<td><input id="edit_age" style="width: 200px; height: 30px;" class="easyui-textbox" name="age" data-options="required:true, missingMessage:'请填写年龄'"></td>
			</tr>
			<tr>
				<td>邮箱:</td>
				<td><input id="edit_email" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="email" validType="email" /></td>
			</tr>
			<tr>
				<td>电话:</td>
				<td><input id="edit_phone" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="mobile" validType="mobile" /></td>
			</tr>
		</table>
	</form>
</div>

<!-- 导入数据窗口th:action="@{/student/importStudent}" target="import_target" -->
<div id="importDialog" style="padding: 10px">
	<form id="importForm" method="post" enctype="multipart/form-data" >
		<table cellpadding="8" >
			<tr>
				<td>请选择文件:</td>
				<td><input class="easyui-filebox" name="importStudent" multiple data-options="required:true,min:0,precision:2, missingMessage:'请选择文件',prompt:'选择文件'" style="width:200px;"></td>

			</tr>
		</table>
	</form>
</div>

<!-- 提交表单处理iframe框架 -->
<iframe id="photo_target" name="photo_target"></iframe>
</body>
</html>