<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>奖项列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
	<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			//datagrid初始化
			$('#dataList').datagrid({
				title:'奖项列表',
				iconCls:'icon-more',//图标
				border: true,
				collapsible:false,//是否可折叠的
				fit: true,//自动大小
				method: "post",
				url:[[@{/award/getAwardList}]],
				idField:'id',
				singleSelect:false,//是否单选
				pagination:true,//分页控件
				rownumbers:true,//行号
				sortName:'id',
				sortOrder:'ASC',
				remoteSort: false,
				columns: [
						[
					{field:'chk',checkbox: true,width:50},
					{field:'id',title:'ID',width:50, sortable: true},
					{field:'name',title:'奖项',width:200, sortable: true},
					{field:'require',title:'申请条件',width:450},
					{field:'applyTime',title:'截至日期',width:150},
					{field:'checkTime',title: '审核日期',width: 150}
				]
				],
				toolbar: "#toolbar",
			});
			//设置分页控件
			var p = $('#dataList').datagrid('getPager');
			$(p).pagination({
				pageSize: 10,//每页显示的记录条数，默认为10
				pageList: [10,20,30,50,100],//可以设置每页记录条数的列表
				beforePageText: '第',//页数文本框前显示的汉字
				afterPageText: '页    共 {pages} 页',
				displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
			});
			//设置工具类按钮
			$("#add").click(function(){
				$("#addDialog").dialog("open");
			});
			//修改
			$("#edit").click(function(){
				var selectRows = $("#dataList").datagrid("getSelections");
				if(selectRows.length !== 1){
					$.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
				} else{
					$("#editDialog").dialog("open");
				}
			});

			$("#delete").click(function(){
				var selectRow = $("#dataList").datagrid("getSelected");
				if(selectRow == null){
					$.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
				} else{
					$.messager.confirm("消息提醒", "确认删除吗，确认继续？", function(r){
						if(r){
							$.ajax({
								type: "post",
								url: [[@{/award/deleteAward}]],
							    data: {id:selectRow.id},
							    success: function(data){
								if(data.success){
									$.messager.alert("消息提醒",data.message,"info");
									//刷新表格
									$("#dataList").datagrid("reload");
								} else{
									$.messager.alert("消息提醒",data.message,"warning");
									return;
								}
							}
						});
						}
					});
				}
			});

			//设置添加奖项窗口
			$("#addDialog").dialog({
				title: "添加奖项",
				width: 650,
				height: 460,
				iconCls: "icon-add",
				modal: true,
				collapsible: false,
				minimizable: false,
				maximizable: false,
				draggable: true,
				closed: true,
				buttons: [
					{
						text:'添加',
						plain: true,
						iconCls:'icon-user_add',
						handler:function(){
							var validate = $("#addForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								var formData = new FormData($( "#addForm" )[0]);
								$.ajax({
									type: "post",
									url: [[@{/award/addAward}]],
									data: formData,
									async: false,
									cache: false,
									contentType: false,
									processData: false,
									success: function(data){
										if(data.success){
											$.messager.alert("消息提醒",data.message,"info");
											//关闭窗口
											$("#addDialog").dialog("close");
											//清空原表格数据
											$("#name").textbox('setValue', "");
											$("#require").textbox('setValue', "");
											$("#apply_time").textbox('setValue', "");
											$("#check_time").textbox('setValue', "");

											//重新刷新页面数据
											$('#dataList').datagrid("reload");
										} else{
											$.messager.alert("消息提醒",data.message,"warning");
											return;
										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							$("#name").textbox('setValue', "");
							$("#require").textbox('setValue', "");
							$("#apply_time").textbox('setValue', "");
							$("#check_time").textbox('setValue', "");
						}
					},
				]
			});

			//设置编辑奖项窗口
			$("#editDialog").dialog({
				title: "修改奖项信息",
				width: 650,
				height: 460,
				iconCls: "icon-edit",
				modal: true,
				collapsible: false,
				minimizable: false,
				maximizable: false,
				draggable: true,
				closed: true,
				buttons: [
					{
						text:'提交',
						plain: true,
						iconCls:'icon-user_add',
						handler:function(){
							var validate = $("#editForm").form("validate");
							if(!validate){
								$.messager.alert("消息提醒","请检查你输入的数据!","warning");
								return;
							} else{
								var formData = new FormData($( "#editForm" )[0]);
								$.ajax({
									type: "post",
									url: [[@{/award/editAward}]],
									data: formData,
									async: false,
									cache: false,
									contentType: false,
									processData: false,
									success: function(data){
										if(data.success){
											$.messager.alert("消息提醒",data.message,"info");
											//关闭窗口
											$("#editDialog").dialog("close");
											//刷新表格
											$("#dataList").datagrid("reload");
											$("#dataList").datagrid("uncheckAll");

										} else{
											$.messager.alert("消息提醒",data.message,"warning");
											return;
										}
									}
								});
							}
						}
					},
					{
						text:'重置',
						plain: true,
						iconCls:'icon-reload',
						handler:function(){
							//清空表单
							$("#edit_name").textbox('setValue', "");
							$("#edit_require").textbox('setValue', "");
							$("#edit_apply_time").textbox('setValue', "");
							$("#edit_check_time").textbox('setValue', "");
						}
					}
				],
				onBeforeOpen: function(){
					var selectRow = $("#dataList").datagrid("getSelected");
					$.ajax({
						type: "post",
						success: function(data){
							//设置值
							$("#edit_name").textbox('setValue', selectRow.name);
							$("#edit_require").textbox('setValue', selectRow.require);
							$("#edit_apply_time").textbox('setValue', selectRow.applyTime);
							$("#edit_check_time").textbox('setValue', selectRow.checkTime);
							$("#edit-id").val(selectRow.id);
						}
					});
				}
			});

			//搜索按钮监听事件
			$("#search-btn").click(function(){
				$('#dataList').datagrid('load',{
					name: $('#search_award_name').val()
				});
			});
		});

	</script>
</head>
<body>
<!-- 学生列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">
		<div th:if="${session.usertype == '1' || session.usertype == '3'}" style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a></div>
		<div th:if="${session.usertype == '1' || session.usertype == '3'}" style="float: left;" class="datagrid-btn-separator"></div>
	<div th:if="${session.usertype == '1' || session.usertype == '3'}" style="float: left;"><a id="edit" href="javascript:" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></div>
	<div style="float: left;" class="datagrid-btn-separator"></div>
		<div th:if="${session.usertype == '1' || session.usertype == '3'}" style="float: left;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a></div>

	<div style="float: left;margin-top:4px;" class="datagrid-btn-separator" >&nbsp;&nbsp;查找：<input id="search_award_name" class="easyui-textbox" name="search_award_name" /></div>
	<a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>

</div>

<!-- 添加窗口 -->
<div id="addDialog" style="padding: 10px">
	<form id="addForm" method="post">
		<table cellpadding="8" >
			<tr>
				<td>奖项名:</td>
				<td><input id="name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'请填写名称'" /></td>
			</tr>
			<tr>
				<td>申请条件:</td>
				<td>
					<textarea id="require" name="require" style="width: 300px; height: 160px;" class="easyui-textbox" data-options="multiline:true,required:true, missingMessage:'申请理由不能为空'" ></textarea>
				</td>
			</tr>
			<tr>
				<td>截至日期：</td>
				<td>
					<input id="apply_time" name="applyTime" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" data-options="required:true, missingMessage:'请填写日期'">
				</td>
			</tr>
			<tr>
				<td>审核日期：</td>
				<td>
					<input id="check_time" name="checkTime" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" data-options="required:true, missingMessage:'请填写日期'">
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 修改窗口 -->
<div id="editDialog" style="padding: 10px">
	<form id="editForm" method="post">
		<input type="hidden" name="id" id="edit-id">
		<table cellpadding="8" >
			<tr>
				<td>奖项名:</td>
				<td><input id="edit_name" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" name="name" data-options="required:true, missingMessage:'请填写姓名'" /></td>
			</tr>
			<tr>
				<td>申请条件:</td>
				<td>
					<textarea id="edit_require" name="require" style="width: 300px; height: 160px;" class="easyui-textbox" data-options="multiline:true,required:true, missingMessage:'申请理由不能为空'" ></textarea>
				</td>
			</tr>
			<tr>
				<td>截至日期：</td>
				<td>
					<input id="edit_apply_time" name="applyTime" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" data-options="required:true, missingMessage:'请填写日期'">
				</td>
			</tr>
			<tr>
				<td>审核日期：</td>
				<td>
					<input id="edit_check_time" name="checkTime" style="width: 200px; height: 30px;" class="easyui-textbox" type="text" data-options="required:true, missingMessage:'请填写日期'">
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 提交表单处理iframe框架 -->
<iframe id="photo_target" name="photo_target"></iframe>
</body>
</html>