<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjpy.studentManager.mapper.ResultMapper">

    <resultMap type="com.pjpy.studentManager.domain.Result" id="ResultInfo">
        <result column="id"         property="id"/>
        <result column="sn"         property="sn"/>
        <result column="username"   property="username"/>
        <result column="clazz"      property="clazz"/>
        <result column="award"      property="award"/>
        <result column="grade"      property="grade"/>
    </resultMap>

    <select id="queryList" resultMap="ResultInfo" >
        <!-- 根据条件查询所有信息 -->
        SELECT *
        from sys_result
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int" >
        select count(*) from sys_result
    </select>

    <insert id="addResult" parameterType="Result">
        insert into sys_result(sn,username,clazz,award,grade)
        values(#{sn},#{username},#{clazz},#{award},#{grade})
    </insert>

    <delete id="deleteResult" parameterType="int">
        delete from sys_result where id = #{id}
    </delete>

</mapper>